body {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.navbar img {
    width: 5rem;
    margin-left: 4px;
    margin-bottom: 4px;
}

.navbar {
    background-color: hsl(0, 0%, 90%);
    border-bottom: #8a8787 solid 1px;
    padding: 8px 0px 4px 8px;
}

.header {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    border-bottom: #000000 solid 2px;
}

@media screen and (min-width: 768px) {
    .navbar-nav {
        margin-left: 5rem;
    }

    .col img {
        width: 30rem !important;
    }
}