body {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}

.custom-button {
  width: 100px;
}

.custom-button.content {
  width: 200px;
  height: 200px;
}

.custom-button:hover {
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}

.categories {
  width: fit-content;
}

.maincontainer {
  height: 60rem;
}

.receipt-container {
  display: flex;
  flex-direction: column;
  height: 60rem;
}

.receipt-items {
  overflow-y: auto;
  flex-grow: 1;
}

.receipt-total {
  border-top: 1px solid #ccc;
  padding-top: 1rem;
}

.btn-danger {
  padding: 0 6px;
  font-size: 0.8rem;
  line-height: 1;
}